/* sidebar section mobile */

.container{
  border: 2px solid green;
  display: grid;
  grid-template-rows: auto auto;
  
}

.personal-summary{
  background-color: #14213D ;
  color: white;
}

.image-container{
  border: 2px solid red;
  max-width: 200px;
  width: 50%;
  margin: 0 AUTO;
display: flex;
justify-content: center;  
}
.personal-summary img{
  align-self: center;
  width: 100%;
  
border-radius: 50%;
}

.personal-info-container{

  font-weight: 900;
}

.personal-info-container>li{
  font-size: 1.1rem;
}

.personal-info-items{
  padding-left: 0.5em;
  font-weight: 400;
  font-style: italic;
}


section{
  grid-row: 2 / span 3;
  border: 2px solid magenta;
}

h1{
  font-size: 2rem;
}

h4{
  font-size: 1.3REM;
  padding-left: 0.3em;
  background-color: #FCA311 ;
  color: #fff;
}

/* main section */
main{
  line-height: 1.5;
}

.list-item{
  font-weight: 900;
  font-size: 1.1rem;
  
}

.list-item>p{
font-weight: 400;
font-size: 1rem;
margin-left: 0.5em;
}
.sublist{
  list-style: none;
  padding-left: 0.5em;
}

.bold-sublist{
  font-weight: 700;
}

.sub-sublist{
  font-weight: 400;
padding-left: 0.5em;
list-style: none;
}